p1/venv
p2/venv
p3_path_parameter/venv
p4_path_parameter_type/venv
p5_path_parameter_order/venv
p6_path_parameter_pre_define/venv
p7_crud_with_dictionary/venv
p8_query_parameter/venv
p9_status_code/venv
p10_query_parameter_validation/venv
p11_path_parameter_validation/venv

p12_request_body/venv
p13_multi_request_body/venv
p14_field/venv
p15_cookie/venv
p16_cookie_pydantic/venv
p17_header/venv
p18_return_type/venv
p19_response_model/venv
p20_form_data/venv
p21_form_data_pydantic/venv
p22_single_file_upload/venv
p23_multiple_file_upload/venv
p24_form_file_and_file_upload/venv
p25_exception/venv
p26_sqlalchemy/venv
p27_async_sqlalchemy/venv
p28_sqlmodel/venv
p29_sqlmodel_relationship/venv
p30_fastapi_with_sqlmodel/venv
p31_swagger_and_sqlmodel/venv
p32_middleware/venv
p33_middleware_order/venv
p34_middleware_in_file/venv
p35_middleware_path_specific/venv
p36_middleware_built_in/venv
p37_APIRouter/venv